<div id="home">
    <h6>Portale multifunzione</h6>
    <br>
    <div>
        <p>Questo è un portale di prova dove verranno inserite le varie modalità di login (google, facebook, instagram, ecc..)</p>
        <p>Il BE di questa applicazione è impostata con una serie di microservizi sviluppati con spring boot</p>
        <p>Verrà utillizzato spring security per tutta la parte di autenticazione e autorizzazione</p>
        <p>Verranno creati componenti di compilazione pratica per utilizzare modalità di compilazione con trasmissione un JSON</p>

    </div>



</div>
